.checkboxes{
    display: grid;
    grid-template-columns: 100px;
  }
  
  .checkboxes label{
    /* Padding to make nice spacing. Absolute or relative? */
    padding-right: 20px;
    padding-left: 10px;
  }
 
  
/* Checkbox styling necessary for Chrome or something?? Checkboxes don't display in Chrome otherwise, but it doesn't have an effect on FF??
 Fix this up later, what a piece of shit system though */
  input[type=checkbox] {
    position: relative;
    cursor: pointer;
    margin-right: 0px;
    margin-top: 2px;
    margin-bottom: 0px;
}
input[type=checkbox]:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border: 2px solid #555555;
    border-radius: 3px;
    background-color: white;
}

input[type=checkbox]:checked:after {
    content: "";
    display: block;
    width: 5px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
  .checkboxes p{
    /* Establishes 3x2 "grid" layout */
    display: flex;
    justify-content: space-between;
  }