.flexbox-container {
  display: flex;
  justify-content: space-around;
  justify-content: start;
  border: dotted blue;
}

.flexbox-container1 {
  display: column;
  display: inline-flex;
}

.flexbox-item-horizontal {
  display: row;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.flexbox-item-vertical {
  display: flex;
  border: 5px solid purple;
  margin: 10px;
  background-color: white;
  border-radius: 20px;
  justify-content: center;
  display: inline-flex;
  align-items: center;
  gap: 100px;
  flex: 1;
}

.carlist {
  max-width: 550px;
}

.parkinglot1 {
  display: flex;
}

.parkinglot2 {
  display: column;
}
