/* cell colorings */
.tablecell,
.tablecellleft,
.tablecellright {
  background-color: #ebebeb;
}

/* end-table-cell roundings */
.tablecellleft {
  border-radius: 2em 0em 0em 2em;
}

.tablecellright {
  border-radius: 0em 2em 2em 0em;
}

.headings {
  font-weight: bold;
}
