

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



.moduletitle{
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  height:10%;
  width:100%;
  background-color: #3B917D;
  border-radius: 1em 1em 0px 0px;
}

.moduletitle h2{
  font-family: Montserrat, sans-serif;
  font-size: 2em;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: white;
  
}

.canvas label, input{
  display:block;
}

 /* The navigation bar */
 .navbar {
  overflow: hidden;
  background-color: #505050;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height:60px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.navbar h1 {
  font-family: 'Montserrat', sans-serif;
font-weight: bold;
color: white;
padding-left:4%;
font-size:300%;
}

.canvas {
  background: #EBEBEB;
  padding-bottom:10%;
  margin-right: 20%;
  margin-top: 75px;
  height: 100%;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;

}

#filterform {
  display: grid;
  grid-template-columns: 112px 112px 112px 112px;
  grid-gap: 16px;
}


#filtersmodule input{
  width: 112px;
  height: 16px;
  outline:none;
  background: #D6D6D6;
  border-radius: 20px;
  border-style:solid;
  border-color:white
}


#advfiltersmodule input{
  width: 112px;
height: 16px;
outline:none;
background: #D6D6D6;
border-radius: 20px;
border-style:solid;
border-color:white

}


.module{
  background-color: white;
  margin: auto;
  height: auto;
  margin-top: 16px;
  margin-left:16px;
  margin-right:16px;
  padding: 8px 8px 16px 16px;
  border-radius: 1em;
  font-family: Lato;
  font-style: normal;
  font-size: 14px;
  line-height: 22px;
}

.module h3{
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 22px;
}

#advfilters{
  font-family: Lato;
  font-style: normal;
  font-weight: bolder;
  font-size: 14px;
  line-height: 12px;
  background:none; 
  border:none; 
}

.Background {
  background: white;
}


/* Main content */
.main {
  margin-top: 20px; /* Add a top margin to avoid content overlay */
} 
