@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato");



#modalDiv{
    background-color: #EBEBEB;
    position:absolute;
    width:50%;
    min-width:570px;
    max-width: 750px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


/* Big title at top of "module page" */
.modalTitle {
    padding-top: 0.05em;
    padding-bottom: 0.05em;
    height: 10%;
    background-color: #3b917d;
    border-radius: 1em 1em 0px 0px;
  }
  
  /* Sub-title for modules */
  .modalTitle h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }

  #customerInformationTop h4, h5{
      display: inline-block;
  }

  #customerInformationTop {
    padding-left: 2%;
  }

  #cartype {
    padding-left: 8% !important;
  }

#bookinginformation{
  display: grid;
  grid-template-columns: 112px 112px 112px 112px;
  grid-gap: 16px;
  padding-left: 2% !important;
}




select{
  width: 112px;
  height: 26px;
  background: #d6d6d6;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  padding-left:10px;
  padding-right:10px;
}

select:focus{
  background: #ebebeb;
  border-color: #3b917d;
  border-width: 2px;
}

#editButton:hover{
  background-color: inherit;
}

#bookinginformation input {
  width: 92px;
  height: 20px;
  outline: none;
  background: #d6d6d6;
  border-radius: 20px;
  border-style: solid;
  border-color: white;
  padding-left:10px;
  padding-right:10px;
}

#bookinginformation input:focus{
  background: #ebebeb;
  border-color: #3b917d;
  border-width: 2px;
  }

#customerInformationTop h3, h4{
  font-family: "Lato";
  font-style: normal;
}
  
  #cancelButton{
    background: #F9A010;
  }

  #confirmButton{
    background: #3B917D;
    right:0;
    margin-right:7%;
    position:absolute;
    display:inline
  }

  .modalButton{
    font-family: "Lato";
    font-style: bolder;
    color:white;
    box-shadow: none;
    border:none;
    border-radius: 20px;
    height:40px;
    width:120px;
  }

  .modalButton:hover{
    filter: brightness(110%);
    cursor: pointer;
  }

  #licenseplateform{
    display: none;
  }

  #buttonDiv{
      margin: auto;
      height: auto;
      margin-top: 16px;
      margin-left: 16px;
      margin-right: 16px;
      padding: 8px 8px 16px 16px;
      border-radius: 1em;
      font-family: Lato;
      font-style: normal;
      font-size: 14px;
      line-height: 22px;
  }

  .column #cartype{
    text-align: right;
  }

  #deleteButton{
    font-family: "Lato";
    display:inline;
    color:black;
    margin-left:5%
  }

  #deleteButton:hover{
    cursor:pointer;
    filter:invert(20%)
  }

  #cargroup{
    width:64px;
  }

  .time{
    width:70px !important;
  }
  