.flexbox-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flexbox-item {
  margin: 10px;
  background-color: #dfdfdf;
}

.carlist {
  min-height: 150px;
}

.parkinglot1 {
  min-height: 200px;
}

.parkinglot2 {
  min-height: 300px;
}

.parkinglot3 {
  min-height: 400px;
}
