/* Styling all elements except car-group*/
#incrementButton, #decrementButton, #counter{
    display:inline-block;  
    background-color: #D6D6D6;
    user-select: none;
}

/* Styling the car-group string (green text-box)*/
#carGroup{
    display:inline-block;
    background-color: #60BEA8;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 10px 0px 0px 10px;
}

/* Unified top-bottom internal spacing */
#incrementButton, #decrementButton, #counter, #carGroup{
    padding-top: 2px;
    padding-bottom:2px;
}

/* Radius and spacing on incrementbutton */
#incrementButton{
    border-radius: 0px 10px 10px 0px;
    padding-left: 10px;
}

/* Styles buttons */
#decrementButton, #incrementButton{
    box-shadow: none;
    border: none;
    cursor:pointer;
    padding-right:10px;
}

/* Determines top-bottom spacing between the buttons*/
.counterButton{
    margin-bottom: -16px;
}

/* Space to the left of the decrementbutton */
#decrementButton{
    padding-left:15px;
}

/* "push-down" effect when clicking on buttons */
#decrementButton:active, #incrementButton:active{
    transform: translateY(1px);
}