/* modules, styling rules for each "box of content", based on design guide */
.module {
    background-color: white;
    margin: auto;
    height: auto;
    margin-top: 16px;
    margin-left: 16px;
    margin-right: 16px;
    padding: 0px 0px 16px 0px;
    border-radius: 1em;
    font-family: Lato;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
  }

  /* Big title at top of "module page" */
.moduletitle {
    padding: 100px;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
    height: 10%;
    background-color: #3b917d;
    /* border-radius: 1em 1em 0px 0px; */
  }
  
  /* Sub-title for modules */
  .moduletitle h2 {
    font-family: Montserrat, sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }
  
  /* Sub-sub-title for modules */
  .module h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
    color: white;
    text-align: center;
  }

  .row {
    display: flex;
  }
  
  .column {
    flex: 50%;
  }