@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato");

.test{
    background-color: rgba(255, 255, 255, 0.25);
}




#modalDiv{
    background-color: #EBEBEB;
    position:absolute;
    width:auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

/* Big title at top of "module page" */
.modalTitle {
    padding-top: 0.05em;
    padding-bottom: 0.05em;
    height: 10%;
    background-color: #3b917d;
    border-radius: 1em 1em 0px 0px;
  }
  
  /* Sub-title for modules */
  .modalTitle h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 2em;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
  }

  #customerInformationTop h4, h5{
      display: inline-block;
  }

  #customerInformationTop h4{
    padding-right: 450px;
  }

#bookinginformation{
  display: grid;
  grid-template-columns: 112px 112px 112px 112px;
  grid-gap: 16px;
}

select{
  width: 112px;
  height: 20px;
  background: #d6d6d6;
  border-radius: 20px;
  border:none;
}

#editButton:hover{
  background-color: inherit;
}

#bookinginformation input {
  width: 112px;
  height: 20px;
  outline: none;
  background: #d6d6d6;
  border-radius: 20px;
  border:none;

}

  #customerInformationTop h3, h4{
    font-family: "Lato";
    font-style: normal;
    padding-right: 450px;
  }

  
  #cancelButton{
    background: #F9A010;
  }

  #confirmButton{
    background: #3B917D;
  }

  .button{
    font-family: "Lato";
    font-style: bolder;
    color:white;
    box-shadow: none;
    border:none;
    border-radius: 20px;
    height:40px;
    width:120px;
  }

  .button:hover{
    filter: brightness(93%);
  }

  #buttonDiv{
      margin: auto;
      height: auto;
      margin-top: 16px;
      margin-left: 16px;
      margin-right: 16px;
      padding: 8px 8px 16px 16px;
      border-radius: 1em;
      font-family: Lato;
      font-style: normal;
      font-size: 14px;
      line-height: 22px;
  }