/* Edit button style, partially taken from Figma */
.editbutton{
    background: #60BEA8;
    color:white;
    
    border-radius: 15px;
    border:none;

    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    font-weight:bolder;
    text-align: center;

    height:30px;
    width:50px;
}

/* cell colorings */
.tablecell, .tablecellleft, .tablecellright{
    background-color:#EBEBEB;
}

/* end-table-cell roundings */
.tablecellleft{
    border-radius: 2em 0em 0em 2em;
}

.tablecellright{
    border-radius: 0em 2em 2em 0em;
}

