#tablerow {
    background-color: red;
}


cell{
    border-collapse: collapse;
}

row{
    padding:10px;
}

.tablecell{
    background-color:#EBEBEB;
    padding-bottom:20px!important;
    border-collapse: collapse;
    border: none;
    box-shadow: none;
}

table{
    border-spacing: 200px;
}

.rowspace{
    margin-bottom:200px;
}


.editbutton{
    background: #60BEA8;
border-radius: 15px;
border:none;
font-family: Lato;
font-style: normal;
font-weight: normal;
font-size: 10px;
font-weight:bolder;
line-height: 12px;
height:30px;
width:50px;
color:white;

/* identical to box height */
text-align: center;
}

.tablecellleft{
    background-color:#EBEBEB;
    border-radius: 2em 0em 0em 2em;
    border: none;
}

.tablecellright{
    background-color:#EBEBEB;
    border-radius: 0em 2em 2em 0em;
    padding:100px;
}
